header {
    height: 90px;
    padding: 0 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--branco);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .cabecalho {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    gap: 0.5rem;
}

.header .cabecalho:hover span {
    color: var(--gold);
}

/* Tamanho da Logo no Cabeçalho */
.cabecalho .logo {
    height: 50px;
    width: auto;
}


.header .logo i {
    color: var(--gold);
}

.header .menu-nav {
    display: flex;
    gap: 2rem;
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .menu-nav a {
    color: var(--black);
    text-decoration: none;
}

.header .menu-nav a:hover {
    color: var(--gold);
}

.header .icones {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Ícones da direita do cabeçalho */
.header .icones .icone-simples {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: var(--cinza-claro);
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}

.header .icones div:hover {
    background: var(--gold);
    color: var(--branco);
}

#btn-menu {
    display: none;
}

.header .menu-nav.active
{
    right: 2rem;
    transition: .4s linear;
}

/* Ícone da Lupa */
.form-buscar {
    position: fixed;
    top: 90px;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: var(--branco);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    z-index: 9999;
    transition: .4s linear;
}


.form-buscar.active {
    right: 2rem;
   /* transition: .4s linear; */
}


.form-buscar input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}


.form-buscar label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}


.form-buscar label:hover {
    color: var(--gold);
}

/* Ícone do Carrinho */
.header .carrinho {
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--black);
    width: 35rem;
    background: var(--branco);
}

/* Ícone de Login */
.form-login {
    border: 1px solid;
    position: fixed;
    width: 30rem;
    top: 90px;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: var(--branco);
    text-align: center;
    z-index: 9999;
    transition: .4s linear;
}

.form-login.active {
    right: 2rem;
    /* transition: .4s linear; */
}

.form-login h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}


.form-login .box {
    width: 100%;
    margin: .7rem 0;
    background: var(--cinza-claro);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.form-login .btn {
    display: block;
    width: 12rem;         
    margin: 1rem auto;       
}

.icone-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    background: var(--cinza-claro);
    border-radius: 0.5rem;
    padding: 0 1rem;
    height: 4.5rem;
    color: var(--black);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icone-botao i {
    font-size: 2rem;
}

.icone-botao:hover {
    background: var(--gold);
    color: var(--branco);
}