/* Arquivo principal que importa todos */
@import url('geral.css');
@import url('admin.css');
@import url('cabecalho.css');
@import url('carrinho.css');
@import url('crud.css');
@import url('banner.css');
@import url('categoria.css');
@import url('finzalizar-compra.css');
@import url('form.css');
@import url('login.css');
@import url('produtos.css');
@import url('produto-detalhe.css');
@import url('responsivo.css');
@import url('rodape.css');

/* Estilos para o cabeçalho de navegação */
.navbar {
    transition: background-color 0.5s ease-in-out;
    background-color: transparent;
}

.navbar.scrolled {
    background-color: #343a40; /* Cor de fundo do navbar quando rolado - ajuste conforme necessário */
}

/* Adicionar ao final do arquivo css/style.css */

/* --- CORREÇÃO PARA RODAPÉ FLUTUANTE --- */
/* Garante que a estrutura básica ocupe 100% da altura da tela */
html, body {
    height: 100%;
}

/* Transforma o body em um container flex que organiza os filhos em coluna */
body {
    display: flex;
    flex-direction: column;
}

/* Instrui o <main> a crescer e ocupar todo o espaço disponível, empurrando o footer para baixo */
main.flex-fill {
    flex-grow: 1;
}













